@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bgimg {
  display: contents;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.bgimg::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../public/background.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.title {
position: absolute;
top : 30%;
left: 50%;
transform: translate(-50%, -50%);
}

.inputAddr {
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center
}

.formAddr {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* tab */
body{
    font-family: 'GmarketSansMedium', serif;
    line-height: 1.6
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  border-radius: 40px;
}

.scrollBar::-webkit-scrollbar-track {
  display: none;
}

ul.tabs{
margin: 0px;
padding: 0px;
list-style: none;
display: flex;
justify-content: space-between;
}

ul.tabs li{
background: #E2FCFE;
color: #222;
display: inline-block;
padding: 10px 15px;
cursor: pointer;
width: 100%;
text-align: center;
}

ul.tabs li.current{
background: #9AD5EF;
color: #222;
}

.tab-content{
display: none;
background: #9AD5EF;
padding: 30px;
border-radius: 0px 0px 20px 20px;
}

.tab-content.current{
display: inherit;
height: 780px;
}

/* #info{
  background: #bee0ee;
  padding: 30px;
  border-radius: 20px;
  width: 456px;
  height: 750px;
  border: 1px solid #000;
} */


/* accordion */

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  
  .accordion li.open .link { color: #b63b4d; }
  
  .accordion li.open i { color: #b63b4d; }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  /**
   * Submenu
   -----------------------------*/
  
  
  .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
  }
  
  .submenu li { border-bottom: 1px solid #4b4a5e; }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
  }

/* map */
#map {
    margin-top: 50px;
    margin-right: 12px;
}




/* update */

.updateWrap {
  width: 80%;
}

.form-div {
  background-color: #9AD5EF;
  padding: 30px;
  border-radius: 20px;
}